* {
    font-family: 'Space Mono', monospace;
}

.enemy_row {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    background-color: gray;
    padding: 10px;
    gap: 10px;
}

.enemy_box {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    background-color: white;
}

#AchievementTab {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.AchievementGrid {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    padding: 10px;
    gap: 10px;
}

.AchievementBox {
    text-align: center;
    border-style: solid;
    background-color: lightgray;
}